.header{
    height:50px;
    padding: 10px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
}
.header p{
    float:right;
}
.logo,.cartImg{
    height: 40px;
}

.logo{
    float: left;
}
.cartImg{
    float: right;
}
.cart-badge{
    margin-top: 0px;
    float: right;
    text-align: right;
}
.cart-badge p{
    margin-top: 13px;
}

@media only screen and (max-width: 480px) {
  .header{
    height:60px;
    padding: 30px 10px;
}
}